name: "My Action"
on:
  schedule:
    #        ┌───────────── minute (0 - 59)
    #        │  ┌───────────── hour (0 - 23)
    #        │  │ ┌───────────── day of the month (1 - 31)
    #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        │  │ │ │ │
    #        *  * * * *
    - cron: '* * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      api_key: ${{secrets.API_KEY}}
      venue_id: ${{secrets.VENUE_ID}}
      email: ${{secrets.EMAIL}}
      email_password: ${{secrets.PASSWORD}}


    steps:
      - uses: actions/checkout@v2
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Run my Python script
        run: python app.py
